:root {
    --first-color: #304A47;
    --button-color: #FFFFFF;
    --button-color-alt: #8a922d7b;
    --text-color: #3D5722;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: inline-block;
}

body {
    background-image: url(../img/Jungle.jpeg);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button :hover {
    cursor: pointer;
}

/* NAVBAR */

.Nav_Header {
    background-color: var(--first-color);
    height: 5rem;
    align-content: center;
} 

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_home {
    padding-left: 1rem;
}

.nav_btn {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 0.5rem;
}

.btn_nav {
    background-color: var(--button-color);
    padding: 0.5rem;
    border-radius: 2rem;
    border-color: transparent;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    gap: 1rem;
}

.title {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
}

.tags {
    display: grid;
    grid-template-columns: repeat(3, 8fr);
    grid-gap: 1rem;
}

.tag {
    background-color: var(--button-color-alt);
    color: var(--button-color);
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0 0.8rem ;
}

.tag:hover {
    background-color: var(--first-color);
    cursor: pointer;
    transition: 1s;
}

.box_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.btn_Guardar {
    background-color: var(--button-color-alt);
    color: var(--button-color);
    font-weight: bold;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border-radius: 2rem;
    border-color: transparent;
}

.btn_Guardar:hover {
    cursor: pointer;
    background-color: var(--first-color);
    transition: 1s;
}