:root {
    --first-color: #304A47;
    --button-color: #FFFFFF;
    --button-color-alt: #8a922d7b;
    --text-color: #3D5722;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: inline-block;
}

body {
    background-image: url(../img/Jungle.jpeg);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button :hover {
    cursor: pointer;
}

/* NAVBAR */

.Nav_Header {
    background-color: var(--first-color);
    height: 5rem;
    align-content: center;
} 

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_home {
    padding-left: 1rem;
}

.nav_btn {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 0.5rem;
}

.btn_nav {
    background-color: var(--button-color);
    padding: 0.5rem;
    border-radius: 2rem;
    border-color: transparent;
}

button {
    border-color: transparent;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
    gap: 3rem;
}

.title {
    color: var(--text-color);
    border-color: black;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.box_user {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.box_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.box_title {
    background-color: var(--button-color-alt);
    padding: 0.4rem 2rem 0.4rem 2rem;
    border-radius: 2rem;
}

.box_title a {
    color: var(--button-color);
    font-size: 25px;
    font-weight: bolder;
}

.box_title:hover {
    cursor: pointer;
    background-color: var(--first-color);
    transition: 1s;
}

